<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString"
            connectionString="data source=DESKTOP-ART4CME\SQLEXPRESS;&#xA;database=Persona;&#xA;Integrated Security=SSPI;&#xA;persist security info=True;"
            providerName="System.Data.SqlClient" />
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString1"
            connectionString="Data Source=LAPTOP-JM4C8QLV\MSSQLSERVER01;Initial Catalog=Persona;User ID=laura;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
